{% extends 'base.html' %}

{% block title %}

    HOME - {{ block.super   }}

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!--<div class="row" style="margin-bottom: 60px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px">1. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #e4b9b9; height: 100px">2. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #dff0d8; height: 100px">3. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">4. Ürün</div>

        </div>
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px">1. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #e4b9b9; height: 100px">2. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #dff0d8; height: 100px">3. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">4. Ürün</div>

        </div>
        <div class="row" style="margin-bottom: 150px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px">1. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #e4b9b9; height: 100px">2. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #dff0d8; height: 100px">3. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">4. Ürün</div>

        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px">1. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #e4b9b9; height: 100px">2. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: #dff0d8; height: 100px">3. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">4. Ürün</div>

        </div> -->

        <div class="row">
            <div class="col-md-4" style="background-color: red; height: 100px"></div>
            <div class="col-md-8" style="background-color: #0f0f0f; height: 100px">
                <div class="row">
                    <div class="col-md-2" style="background-color: #56ff25k; height: 100px"></div>
                    <div class="col-md-8" style="background-color: #d58512; height: 100px"></div>
                    <div class="col-md-2" style="background-color: #398439; height: 100px"></div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}